{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "**/*.ts",
    "**/*.tsx",
    "**/*.html"
  ],
  "rules": {
    "indentation": 2,
    "number-leading-zero": "always",
    "string-quotes": "double"
  }
}
